<div class="container-fluid text-center">
    <div class="image-container-login">
        <div id="login-image" class="front-page-image">
            <div class="outer-container">
                <div class="login-container ml-5">
                <div class="h1 text-left ml-5 pl-5" style="color: white;">Edit Account</div>
                    <div class="text-left ml-5 pl-5" style="color: white;">
                        <%= form_for @user do |f| %>
                            <% if @user.errors.any? %>
                                <div>
                                    <h2>Form is invalid.</h2>
                                    <ul>
                                        <% for message in @user.errors.full_messages %>
                                        <li class="list-unstyled"><%= message %></li>
                                        <% end %>
                                    </ul>
                                </div>
                            <% end %>
                        <div class="h4">
                            <%= f.label :name %>
                            <br>
                            <%= f.text_field :name %>
                        </div>
                        <div class="h4">
                            <%= f.label :email %>
                            <br>
                            <%= f.text_field :email %>
                        </div>
                        <div class="h4">
                            <%= f.label :password %>
                            <br>
                            <%= f.password_field :password %>
                        </div>
                        <div class="h4">
                            <%= f.label :password_confirmation %>
                            <br>
                            <%= f.password_field :password_confirmation %>
                        </div>
                        <div>
                            <%= f.submit "Update!", :class => "btn btn-info btn-lg" %>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>