<div class="container-fluid text-center">
    <div class="image-container-login">
        <div id="login-image" class="front-page-image">
            <div class="outer-container">
                <div class="login-container ml-5">
                    <div class="h1 text-left ml-5 pl-5" style="color: white;">Sign Up</div>
                    <div class="text-left ml-5 pl-5" style="color: white;">
                        <%= form_for @user do |f| %>
                            <% if @user.errors.any? %>
                                <div class="h2">Form is invalid.</div>
                                <ul>
                                    <% for message in @user.errors.full_messages %>
                                        <li><%= message %></li>
                                    <% end %>
                                </ul>
                            <% end %>
                            <div class="h5">
                                <%= f.label :name %><br>
                                <%= f.text_field :name %>
                            </div>
                            <div class="h5">
                                <%= f.label :email %><br>
                                <%= f.text_field :email %>
                            </div>
                            <div class="h5">
                                <%= f.label :password %><br>
                                <%= f.password_field :password %>
                            </div>
                            <div class="h5">
                                <%= f.label :password_confirmation %><br>
                                <%= f.password_field :password_confirmation %>
                            </div>
                            <div>
                                <%= f.submit "Create My Account", :class => "btn btn-info btn-lg" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>