<h1>Hello carts index</h1>
<% @carts.each do |cart| %>
    <ul class="list-unstyled">
        <li><%= Product.find(cart.product_id).product_name %></li>
        <%=  form_tag("/remove_item/#{cart.id}") do %>
            <%= submit_tag "Remove" %>
        <% end %>
    </ul>
<% end %>
<%= form_tag("/purchase/active_order") do %>
    <%= submit_tag "Purchase" %>
<% end %>


