<div class="container-fluid text-center">
    <h1><%= @product.product_name %></h1>
    <p><%= @product.product_description %></p>
    <h4>$<%= @product.price %> / 60 mins</h2>
    <%= form_tag("/add_item/#{@product.id}") do %>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Add to Cart!</button>
        <%#= submit_tag "Add to Cart" %>
    <% end %>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <% if Cart.where("order_id = ? AND product_id = ?", active_order.id, @product.id).exists? %>
                        <p> <%= @product.product_name %> is already in your cart! </p>
                    <% else %>
                        <p>Success! You have added <%= @product.product_name %> to your cart!</p>
                    <% end %>
                </div>
            </div> 
        </div>
    </div>
</div>

<script>
    $('form').eq(0).on('click', function(e) {
        e.preventDefault();
        setTimeout(function() {
            document.querySelector('form').submit();
        }, 2000);
    });
</script>